*
!.gitignore
!.gitattributes
!.htaccess
!index.html
!index.php

# Core
!core
!core/css/*
!core/fonts/*
!core/img/overdue*.*
!core/img/paid*.*
!core/img/file-icons/*
!core/js/*
!core/scss/*

# My themes
!invoiceplane_dpoper_blue
!invoiceplane_dpoper_blue/*
!invoiceplane_dpoper_blue/**/*

